@{
    ViewData["about"] = "About the Philo-App";
}



<div class="container mx-auto pt-16 pb-10 max-w-3xl px-6">
    <h1 class="font-sans font-bold text-4xl tracking-wide pb-10">@ViewData["about"]</h1>
    <p class="max-w-2xl font-sans text-xl text-gray-400 leading-9">
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Recusandae numquam deleniti 
        unde pariatur. Architecto atque, molestiae
        officia unde repellat libero?
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Recusandae numquam deleniti 
        unde pariatur. Architecto atque, molestiae
        officia unde repellat libero?
        Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Recusandae numquam deleniti 
        unde pariatur. Architecto atque, molestiae
        officia unde repellat libero?
    </p>
</div>